# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE specific
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Other optional files to ignore
test/
web/
macos/
windows/
linux/
